/**
 * Site header
 */
.site-header {
    border-top: 10px solid $bar-color-light;
    border-bottom: 0px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    // Hover styles start here
    a {
    color: $brand-color;
    text-decoration: none;
    display: inline-block;
    position: relative;

        &:visited {
            color: darken($brand-color, 15%);
        }

        &:hover {
            color: #FFFFFF;
            background-size: 150%;
            background-color: $bar-color-light;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            background-color: $bar-color;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            transition: all ease 0.3s;
        }

        &:hover:after {
            background-color: $bar-color-light;
        }
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    font-size: 12px;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    
    /* Hover style
    a {
        color: $brand-color;
        text-decoration: none;
        position: relative;

        &:visited {
            color: darken($brand-color, 10%);
        }   

    &:hover {
        color: $text-color;
        text-decoration: underline;
        }
    }*/

    a {
        color: $brand-color;
        background-color: transparent;
        text-decoration: none;
        display: inline-block;
        position: relative;

            &:hover {
                color: #FFFFFF;
                background-size: 150%;
                background-color: $bar-color-light;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                color: $bar-color;
                background-color: transparent;
                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                transition: all ease 0.3s;
            }

            &:hover:after {
                background-color: $bar-color;
            }
        }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 16px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    font-size: 12px;
}

.footer-col-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    font-size: 9px;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    // Hover style
    a {
        color: $bar-color-light;
        text-decoration: none;
        position: relative;

        &:visited {
            color: $bar-color-light;
        }   

    &:hover {
        color: $text-color;
        text-decoration: none;
        }
    }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-metadata {
    font-size: 10px;
    color: $grey-color-dark;

    // Category/tag hover styles start here
    a {
    color: #FFFFFF;
    background-color: $bar-color-light;
    text-decoration: none;
    display: inline-block;
    position: relative;

        &:hover {
            color: $bar-color;
            background-size: 150%;
            background-color: transparent;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            color: $bar-color;
            background-color: $bar-color;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            transition: all ease 0.3s;
        }

        &:hover:after {
            background-color: #FFFFFF;
        }
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-header-banner {
    margin-top: 20px;
    height: 15%;
    width: 35%;

}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    // Hover style
    a {
        color: $bar-color;
        text-decoration: underline;
        position: relative;

        &:visited {
            color: darken($brand-color, 10%);
        }   

    &:hover {
        color: $text-color;
        text-decoration: none;
        }
    }

}

.pagination {
    color: $grey-color-dark;
    font-size: 10px;
    font-style: italic;

    .previous {
        font-style: normal;
    }

    .next {
        font-style: normal;
    }

    .square-icon {
        font-style: normal;
    }
}

.category-header {
    margin-top: 20px;
    height: 15%;
    width: 35%;
    font-size: 30px;
    margin-bottom: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
}

.category-content {
    // Category hover styles
    a {
    color: $brand-color;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    position: relative;

        &:hover {
            color: #FFFFFF;
            background-size: 150%;
            background-color: $bar-color-light;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            color: $bar-color;
            background-color: transparent;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            transition: all ease 0.3s;
        }

        &:hover:after {
            background-color: $bar-color;
        }
    }
}

.category-archive-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
    }

    // Hover style
    a {
        color: $bar-color-light;
        text-decoration: none;
        position: relative;

        &:visited {
            color: $bar-color-light;
        }   

    &:hover {
        color: $text-color;
        text-decoration: none;
        }
    }

}

.tag-header {
    margin-top: 20px;
    height: 15%;
    width: 15%;
    font-size: 30px;
    margin-bottom: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
}

.tag-content {
    a {
        color: $brand-color;
        background-color: transparent;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        position: relative;

            &:hover {
                color: #FFFFFF;
                background-size: 150%;
                background-color: $bar-color-light;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                color: $bar-color;
                background-color: transparent;
                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                transition: all ease 0.3s;
            }

            &:hover:after {
                background-color: $bar-color;
            }
        }
}

.back-button {
    font-size: 10px;
    color: $grey-color;
    text-decoration: none;
    margin-top: $spacing-unit;

    // Hover style
    a {
        color: $bar-color;
        text-decoration: none;
        position: relative;

        &:visited {
            color: $grey-color;
        }   

    &:hover {
        color: $text-color;
        text-decoration: none;
        }
    }
}
