---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}
      <svg height="16px" version="1.1" viewBox="0 0 23 22" width="16px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/>
        <defs>
          <path d="M13.1280738,-1.86808672 L6,4.29864327 L6,19.5668775 C6,19.8368658 6.2236826,20.0557345 6.49907685,20.0557345 L20.5009232,20.0557345 C20.7765557,20.0557345 21,19.8329873 21,19.5668775 L21,4.29864327 L13.8719262,-1.86808672 C13.6665171,-2.0457929 13.3292604,-2.04213981 13.1280738,-1.86808672 Z M13.5,7.83351232 C14.6045696,7.83351232 15.5,6.95798032 15.5,5.87795676 C15.5,4.79793321 14.6045696,3.92240121 13.5,3.92240121 C12.3954305,3.92240121 11.5,4.79793321 11.5,5.87795676 C11.5,6.95798032 12.3954305,7.83351232 13.5,7.83351232 L13.5,7.83351232 Z" id="path-1"/>
        </defs>
          <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">
            <g id="common_tag_2_general_price_glyph"><use fill="#828282" fill-rule="evenodd" transform="translate(13.500000, 9.000000) rotate(45.000000) translate(-13.500000, -9.000000) " xlink:href="#path-1"/>
            <use fill="none" xlink:href="#path-1"/>
            </g>
          </g>
      </svg> 
      {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %} {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
          {% if tag %}
            {% capture tags_content_temp %}
              {{ tags_content }}
                <a href="/blog/tag/{{ tag.slug }}.html">&nbsp;{{ tag.name }}&nbsp;</a>&nbsp;
              {% if forloop.last == false %}{% endif %}
            {% endcapture %}
          {% assign tags_content = tags_content_temp %}
          {% endif %}
        {% endfor %}

{% else %}
    {% assign tags_content = '' %}
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.categories %}
  <article class="post-metadata">
    Posted <!--in</i>&nbsp;
    {% for category in page.categories %}
        <a href="/{{ category }}/">&nbsp;&nbsp;{{ category }}&nbsp;&nbsp;</a>
    {% endfor %}
  {% endif %}-->
  {% if tags_content %}
    with {{ tags_content }}
  {% endif %}
  {% if tags_content == '' %}
  {% endif %}
  </article>

  <div class="back-button">
    <a href="{{ site.url }}/blog/">&#10094; Back to blog</a>
  </div>

</div>
